@model RegisterViewModel
    <form asp-action="Index" asp-controller="Home">
        <input asp-for="Login" />
        <input asp-for="Pwd" />
        <input asp-for="Pwd2" />
        <button>go</button>
    </form>
